{% load static %}
<div class="w-1/4 mb-10 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class ="w-full h-25vh bg-cover bg-center rounded-lg mb-2" style="background-image: url({{room.first_photo}});"></div>
        <div class="flex justify-between">
            <div>
            {% if room.host.superhost %}
                <span class="mr-px uppercase text-xs border rounded border-black font-medium px-1">superhost</span>
            {% endif %}
                <span class="text-sm text-gray-500">{{room.city}} {{room.country.name}}</span>
            </div>

            <span class="text-sm flex items-center">
                <i class="fas fa-star text-red-500 text-xs mr-1"></i>{{room.total_rating}}
            </span>
        </div>
        <span class="text-black">
        {{room.name}}
        </span>
    </a>
</div>



{% comment %} 
img 태그로 하려니 rounded가 안되는 단점이 있음
<div class="w-1/4 rounded">
    <a href="{% url "rooms:detail" room.pk %}"> 
        <img src = "{{room.first_photo}}">
        {{room.name}} - {{room.price}}원
    </a>
</div> 
{% endcomment %}
            