{% extends "base.html" %}

{% comment %} base에 설치해놓은 블럭을 여기에다가 만들어줌 {% endcomment %}

{% block page_name %}
    home
{% endblock page_name %}

{% block content %}
    {% for room in rooms %}
        
        <h3><a href="{% url "rooms:detail" room.pk %}"> {{room.name}} - {{room.price}}원</h3>
        {% comment %} 
        순서 : views.py (def room_detail) -> urls.py (urlpatterns(path(인자, room_detail, name=찾을 이름)))
        {% endcomment %}
    {% endfor %}

    
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% comment %} page.paginator는 부모한테 가는 것이고 부모의 num_pages를 가져옴 {% endcomment %}
    <h5>
    {% if page_obj.has_previous %}
        <a href = "?page={{page.previous_page_number}}">이전</a>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
        <a href = "?page={{page}}">{{page}}</a>
    {% endfor %}
    {% if page_obj.has_next %}
        <a href = "?page={{page.next_page_number}}">다음</a>
    {% endif %}
    </h5>
{% endblock  %}