{% extends "base.html" %}
{% load static %}
{% comment %} base에 설치해놓은 블럭을 여기에다가 만들어줌 {% endcomment %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto">
        <div class="container rounded-huge mx-auto bg-gray-700 h-50vh mt-32 mb-24 bg-cover" style="background-image: url({% static 'img/IMG_1251.JPG' %})"></div>
        <div class="flex flex-wrap -mx-30">
            {% for room in rooms %}
                {% include "rooms/room_card.html" with room=room %}
                {% comment %} 
                순서 : views.py (def room_detail) -> urls.py (urlpatterns(path(인자, room_detail, name=찾을 이름)))
                {% endcomment %}
            {% endfor %}
        </div>

        
        {% comment %} page.paginator는 부모한테 가는 것이고 부모의 num_pages를 가져옴 {% endcomment %}
        <div>
            <div class="container flex justify-center">
                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            </div>
            <br>
            <div class="container flex space-x-1 justify-center">
                {% if page_obj.has_previous %}
                    <a href = "?page={{page_obj.previous_page_number}}">
                        <i class="fas fa-arrow-left text-teal-500"></i>
                    </a>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    <a href = "?page={{page}}">{{page}}</a>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href = "?page={{page_obj.next_page_number}}">
                        <i class="fas fa-arrow-right text-teal-500"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    
{% endblock  %}