{% extends "base.html" %}

{% block page_title %}
    search
{% endblock page_title %}

{% block search-bar %}
{% comment %} 
기본적으로 검색창이 나와있는데
여기 블럭을 불러오고 빈 블럭으로 대체 시키면서 가릴 수 있음
{% endcomment %}

{% endblock search-bar %}

{% block content %}

    <h2> Search </h2>
    <form method="get" action= "{% url "rooms:search" %}">
        
        {{form.as_p}}
        
        <button> Search </button>
    </form>

    <h2> Rooms </h2>
    <ul>
        {% for room in rooms %}
            <li>{{room.name}}</li>
        {% endfor %}
    </ul>
{% endblock content %}